<div class="container">
    <div class="row">
        <div class="col-md-12">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="content content-full-width">

                            <div *ngIf="floor" class="floor">
                                <div class="profile-header">

                                    <div class="profile-header-cover"></div>

                                    <div class="profile-header-content">

                                        <div class="profile-header-img">
                                            <img [src]="getSanitizedSvg()" height="115" width="140" alt="Floor SVG" />
                                        </div>

                                        <div class="profile-header-info">
                                            <h4 class="m-t-10 m-b-5">Floor {{floor.id}}</h4>
                                            <p class="m-b-10">details page</p>
                                        </div>

                                    </div>

                                    <ul class="profile-header-tab nav nav-tabs">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" (click)="setActiveTab('offices')"
                                                [ngClass]="{ 'active': isTabActive('offices') }"
                                                class="nav-link">Offices</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" (click)="setActiveTab('photos')"
                                                [ngClass]="{ 'active': isTabActive('photos') }"
                                                class="nav-link">Photos</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <div class="profile-content">
                                <div class="tab-content p-0">

                                    <div *ngIf="isTabActive('offices')" class="tab-pane fade in active show">
                                        <h3>Offices</h3>
                                        <p>Here you can view and manage offices.</p>


                                        <img [src]="getSanitizedSvg()" height="600" width="600" alt="Floor SVG" />
                                    </div>

                                </div>

                                <div *ngIf="isTabActive('photos')" class="tab-pane fade in active show">
                                    <h3>Photos</h3>
                                    <p>Here you can view photos of the floor.</p>

                                    <link
                                        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
                                        rel="stylesheet">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div class="card card-small">
                                                    <div class="thumbnail">
                                                        <img alt="Opt alp thumbnail"
                                                            src="https://www.bootdey.com/image/300x230/20B2AA/000000">
                                                        <a href="#/product/awesome-landing-page">
                                                            <div class="thumb-cover"></div>
                                                        </a>
                                                        <div class="details">
                                                            <div class="numbers">
                                                                <b class="downloads"><i
                                                                        class="fa fa-arrow-circle-o-down"></i> 1124</b>
                                                                <b class="comments-icon"><i class="fa fa-comment"></i>
                                                                    10</b>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    <div class="card-info">
                                                        <div class="moving">
                                                            <a href="#/product/awesome-landing-page">
                                                                <h3>Awesome Product 1</h3>
                                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, placeat.</p>
                                                            </a>
                                                            <b class="actions">
                                                                <a href="#/product/awesome-landing-page">Details</a>
                                                                <b class="separator">|</b>
                                                                <a class="blue-text" href="#/live/awesome-landing-page"
                                                                    target="_blank">Live Preview</a>
                                                            </b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container bootdey flex-grow-1 container-p-y">

    <div class="media align-items-center py-3 mb-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="d-block ui-w-100 rounded-circle">
        <div class="media-body ml-4">
            <h4 class="font-weight-bold mb-0">John Doe <span class="text-muted font-weight-normal">_johndoe</span></h4>
            <div class="text-muted mb-2">ID: 3425433</div>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm">Edit</a>&nbsp;
            <a href="javascript:void(0)" class="btn btn-default btn-sm">Profile</a>&nbsp;
            <a href="javascript:void(0)" class="btn btn-default btn-sm icon-btn"><i class="fa fa-mail"></i></a>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <table class="table user-view-table m-0">
                <tbody>
                    <tr>
                        <td>Registered:</td>
                        <td>01/23/2017</td>
                    </tr>
                    <tr>
                        <td>Latest activity:</td>
                        <td>01/23/2018 (14 days ago)</td>
                    </tr>
                    <tr>
                        <td>Verified:</td>
                        <td><span class="fa fa-check text-primary"></span>&nbsp; Yes</td>
                    </tr>
                    <tr>
                        <td>Role:</td>
                        <td>User</td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td><span class="badge badge-outline-success">Active</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="border-light m-0">
        <div class="table-responsive">
            <table class="table card-table m-0">
                <tbody>
                    <tr>
                        <th>Module Permission</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Create</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>Users</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                    </tr>
                    <tr>
                        <td>Articles</td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-check text-primary"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                    </tr>
                    <tr>
                        <td>Staff</td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                        <td><span class="fa fa-times text-light"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="row no-gutters row-bordered">
            <div class="d-flex col-md align-items-center">
                <a href="javascript:void(0)" class="card-body d-block text-body">
                    <div class="text-muted small line-height-1">Posts</div>
                    <div class="text-xlarge">125</div>
                </a>
            </div>
            <div class="d-flex col-md align-items-center">
                <a href="javascript:void(0)" class="card-body d-block text-body">
                    <div class="text-muted small line-height-1">Followers</div>
                    <div class="text-xlarge">534</div>
                </a>
            </div>
            <div class="d-flex col-md align-items-center">
                <a href="javascript:void(0)" class="card-body d-block text-body">
                    <div class="text-muted small line-height-1">Following</div>
                    <div class="text-xlarge">236</div>
                </a>
            </div>
        </div>
        <hr class="border-light m-0">
        <div class="card-body">

            <table class="table user-view-table m-0">
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td>nmaxwell</td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>Nelle Maxwell</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>nmaxwell_mail.com</td>
                    </tr>
                    <tr>
                        <td>Company:</td>
                        <td>Company Ltd.</td>
                    </tr>
                </tbody>
            </table>

            <h6 class="mt-4 mb-3">Social links</h6>

            <table class="table user-view-table m-0">
                <tbody>
                    <tr>
                        <td>Twitter:</td>
                        <td><a href="javascript:void(0)">https://twitter.com/user</a></td>
                    </tr>
                    <tr>
                        <td>Facebook:</td>
                        <td><a href="javascript:void(0)">https://www.facebook.com/user</a></td>
                    </tr>
                    <tr>
                        <td>Instagram:</td>
                        <td><a href="javascript:void(0)">https://www.instagram.com/user</a></td>
                    </tr>
                </tbody>
            </table>

            <h6 class="mt-4 mb-3">Personal info</h6>

            <table class="table user-view-table m-0">
                <tbody>
                    <tr>
                        <td>Birthday:</td>
                        <td>May 3, 1995</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Languages:</td>
                        <td>English</td>
                    </tr>
                </tbody>
            </table>

            <h6 class="mt-4 mb-3">Contacts</h6>

            <table class="table user-view-table m-0">
                <tbody>
                    <tr>
                        <td>Phone:</td>
                        <td>+0 (123) 456 7891</td>
                    </tr>
                </tbody>
            </table>

            <h6 class="mt-4 mb-3">Interests</h6>

            <table class="table user-view-table m-0">
                <tbody>
                    <tr>
                        <td>Favorite music:</td>
                        <td>
                            Rock,
                            Alternative,
                            Electro,
                            Drum &amp; Bass,
                            Dance
                        </td>
                    </tr>
                    <tr>
                        <td>Favorite movies:</td>
                        <td>
                            The Green Mile,
                            Pulp Fiction,
                            Back to the Future,
                            WALL·E,
                            Django Unchained,
                            The Truman Show,
                            Home Alone,
                            Seven Pounds
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div> -->