<div class="background-image-example">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="content content-full-width">

                            <div *ngIf="floor" class="floor">
                                <div class="profile-header">

                                    <div class="profile-header-cover"></div>

                                    <div class="profile-header-content">

                                        <div class="profile-header-img">
                                            <img [src]="getSanitizedSvg()" height="115" width="140" alt="Floor SVG" />
                                        </div>

                                        <div class="profile-header-info">
                                            <h4 class="m-t-10 m-b-5">Floor {{floor.id}}</h4>
                                            <p class="m-b-10">details page</p>
                                        </div>

                                    </div>

                                    <ul class="profile-header-tab nav nav-tabs">
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" (click)="setActiveTab('offices')"
                                                [ngClass]="{ 'active': isTabActive('offices') }"
                                                class="nav-link">Offices</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0)" (click)="setActiveTab('photos')"
                                                [ngClass]="{ 'active': isTabActive('photos') }"
                                                class="nav-link">Photos</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>

                            <div class="profile-content bg-white p-3 rounded shadow">
                                <div class="tab-content p-0">

                                    <div *ngIf="isTabActive('offices')" class="tab-pane fade in active show">
                                        <h3>Offices</h3>
                                        <p>Here you can view and manage offices.</p>


                                        <img [src]="getSanitizedSvg()" height="600" width="600" alt="Floor SVG" />
                                    </div>

                                </div>

                                <div *ngIf="isTabActive('photos')" class="tab-pane fade in active show">
                                    <div class="d-flex align-items-center">
                                        <h3 class="mb-0 mr-3">Photos</h3>
                                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#uploadOfficePhotosModal">Upload</button>
                                      </div>
                                    <p>Here you can view photos of the floor.</p>

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                                <div *ngFor="let photo of getSanitizedImages()" (click)="imageModal.open(photo)" class="thumbnail">
                                                    <img [src]="photo" (click)="selectedImage = photo" height="200" width="320" alt="Floor SVG" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img [src]="selectedImage" alt="Selected Image" style="width: 100%; height: auto;">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Upload Photos Modal -->
<div class="modal fade" id="uploadOfficePhotosModal" tabindex="-1" role="dialog" aria-labelledby="uploadOfficePhotosModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Upload a new photos:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <form #uploadOfficePhotosForm="ngForm" (ngSubmit)="onUpdateFloor(floor!.id, photosInput)">
            <div class="form-group">
              <label for="photos">Photos</label>
              <input #photosInput type="file" name="photos" class="form-control-file" id="photos" multiple required>
            </div>

            <div class="modal-footer">
              <button [disabled]="uploadOfficePhotosForm.invalid" id="update_floor_photos_button" type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-image-modal></app-image-modal>