<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div *ngFor="let floor of floors" class="col-md-4">
            <a (click)="viewFloor(floor.id)" class="widget widget-image">
                <div class="widget-image-cover">
                    <img [src]="sanitizedSvg" alt="Floor SVG" />
                </div>
                <div class="widget-image-info">
                    <h5>Floor {{floor?.id}}</h5>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="widget-image-user">
                                <div class="widget-image-user-info">
                                    <div>Capacity is {{floor.capacity}}</div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </a>
        </div>
    </div>
</div>