<section class="vh-100" style="background-color: #e6aaf9;">
  <div class="container py-5 h-100" id="main-container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://img.freepik.com/free-photo/vertical-low-angle-shot-high-rise-skyscrapers-glass-facade-frankfurt-germany_181624-7114.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">FaceIT rental system</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="user-email">Email address</label>
                    <input type="email" id="user-email" class="form-control form-control-lg" />
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="user-password">Password</label>
                    <input type="password" id="user-password" class="form-control form-control-lg" />
                  </div>

                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" type="button">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? 
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block" (click)="onOpenModal(null, 'register')" type="button" data-bs-toggle="modal" data-bs-target="#registrationModal">Sign up</button>
                  </p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div #registrationModal class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onRegister(addForm)">
            <div class="form-group">
              <label for="user-username" class="col-form-label">Username:</label>
              <input type="text" ngModel name="username" class="form-control" id="user-username" required>
            </div>
            <div class="form-group">
              <label for="user-email" class="col-form-label">Email:</label>
              <input type="text" ngModel name="email" class="form-control" id="user-email" required>
            </div>
            <div class="form-group">
              <label for="user-password" class="col-form-label">Password:</label>
              <input type="password" ngModel name="password" class="form-control" id="user-password" required>
            </div>
            <div class="form-group">
              <label for="user-confirm-password" class="col-form-label">Confirm password:</label>
              <input type="password" class="form-control" id="user-confirm-password">
            </div>

            <div class="modal-footer">
              <button [disabled]="addForm.invalid" id="register_button" type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap Bundle with Popper (for modal functionality) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"></script>

</section>